#snackbar {
    display:none;
    min-width: 250px;
    margin-left: auto;
    background-color: #333;
    color: pink;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: absolute;
    z-index: 4000;
    left: 35%;
    top: 20%;
    width: 30%;
    }
    
    #snackbar img{

      height: 80px;
      width: 80px;
      color: white;
    }
#snackbar-phone{
  display:none;
}
@media all and (max-width: 800px) {

  #snackbar{
    display:none;
  }
		 #snackbar-phone
		 	{
	display:none;
    min-width: 250px;
    margin-left: auto;
    background-color: #333;
    color: pink;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: absolute;
    z-index: 4000;
    left: auto;
    top: 20%;
    width: 100%;
		 	}
	}

.preloader{z-index:2000;}
        
#preloader
{
position:fixed;top:0px;right:0px;bottom:0px;left:0px;
z-index:2000;
background:#000;
background-size:cover;
visibility:hidden;opacity:0;pointer-events:none;-webkit-transition:all 1s ease-in-out;-moz-transition:all 1s ease-in-out;transition:all 1s ease-in-out
}
.preload #preloader
{
visibility:visible;opacity:1;pointer-events:all;-webkit-transition:all 0s 0s linear;-moz-transition:all 0s 0s linear;transition:all 0s 0s linear
}


.preloader {
  position: absolute;
  left: 40%;
  top: 35%;
  width: 60%;
}



.preloader-top img{
  height: 30%;
  width: 35%;

}

@media (max-width:900px){


.preloader {
  position: absolute;
  left: 30%;
  top: 35%;
  width: 100%;
}

@media (max-width:600px){

.preloader {
  position: absolute;
  left: 25%;
  top: 35%;
  width: 170%;
}


}

